
.scp.input {
  border: 1px solid var(--background-modifier-border);
  border-radius: 5px;
}
.scp.desc {
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
}

.scp.cmdr {
  border: var(--prompt-border-width) solid var(--prompt-border-color);
  border-radius: var(--radius-l);
  box-shadow: var(--shadow-l);
  backdrop-filter: blur(10px);
  background: transparent;
  width: 80%;
  margin: 0px auto;
  position: absolute;
}
.scp.cmdr-container {
  overflow-y: auto;
  max-height: 80vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.scp.cmdr-input {
  background: transparent;
  width: 100%;
  border: none;
}

